.rasm{
    width: 300px;
    border-radius: 15px;
}
.a{
    border: 1px solid gray;
    color: gray;
    border-radius: 10px;
    font-size: 20px;
}
.lorem{
    width: 300px;
    font-size: 20px;
    color: gray;
}
.btn{
    color: blue;
    background-color: rgb(78, 135, 135);
    border: none;
    border-radius: 30px;
    font-size: 20px;
    width: 180px;
    height: 40px;
}